body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: white;
    margin-left:100px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .login-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  
  /**********************************************************/

  .navbar {
    background: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make the navbar full width */
    position: fixed; /* Position it fixed to the top */
    top: 0; /* Position it at the top */
    left: 10; /* Position it at the left */
    z-index: 1000; /* Ensure it's above other content */
    margin-right : 20px;
}

.navbar nav {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
}

  .navbar nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar nav a:hover {
    text-decoration: underline;
  }
  
  .tiles-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .tile {
    background: #f4f4f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  